<div data-section-id="{{ section.id }}" data-section-type="section-testimonial-blog-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-testimonial-blog-v1"   style="{% if section.settings.style_bg == 'color' %}background: {{section.settings.bg_color}}{% else %}background-image: url({% if section.settings.bg_img != blank %}{{section.settings.bg_img | img_url: 'master'}}{% else %}//placehold.it/1920x1483{% endif %}){% endif %};">
    <div class="container container-v1">
      <div class="row">
        <div class="col-lg-6 col-xs-12 content-1">
          <div class="text-center text-lg-left">
            <h3 class="title_heading mb-4">{{section.settings.section_title1}}</h3>
          </div>
          
          <div class="row testimonial-inner js-testimonial-blog-v1">
            {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
            {% if block.type == "testimonial" %}
            <div class="col-md-12">
              <div class="testimonial-info">
                <p class="text mar-bottom-15">{{block.settings.block_content}}</p> 
              </div>
              <div class="testimonial-author d-flex align-items-center">
                <div class="avatar mr-3">
                  {% if block.settings.block_img != blank %}
                  <img width="88" height="88" src="{{block.settings.block_img|img_url:'master'}}" class="img-responsive" alt="testimonial">
                  {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                </div>
                <div class="author-info">
                  <h3 class="mar-bottom-5">{{block.settings.block_name}}</h3>
                  <p class="text-position">{{block.settings.block_des}}</p>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>

        <div class="col-lg-6 col-xs-12 content-2">
          <div class="text-center text-lg-left">
            <h3 class="title_heading mb-4">{{section.settings.section_title2}}</h3>
          </div>

          {% assign blogs_limit = section.settings.blogs_limit %}
          {% assign blo = section.settings.select_blog %}
          <div class="row js-blog-testi-v1 engoc-slideshow-animation">
            {% for article in blogs[blo].articles limit: blogs_limit %}
            <div class="col-md-12">
              <div class="blog-inner">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <div class="blog-thumb">
                      <div class="hover-images" style="overflow: hidden">
                        <a href="{{ article.url }}">
                          <img src="{{ article.image.src | img_url: 'master' }}" class="img-responsive" alt="{{ article.title }}">
                        </a>
                      </div>
                      <span class="label-date">{{ article.published_at | date: "%d.%b.%Y" }}</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xs-12">
                    <div class="blog-info">
                      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                      <p>{{ article.content | strip_html | truncate: 150 }}</p>
                      <a href="{{article.url}}">{{'blogs.article.read_more' | t}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            {% for i in (1..5) %}
            <div class="col-md-12">
              <div class=" blog-inner">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="blog-thumb mar-bottom-25">
                      <div class="hover-images">
                        <a href="/admin/articles">
                          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        </a>
                      </div>
                      <span class="label-date">{{ 'now' | date: "%d.%b.%Y" }}</span>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="blog-info">
                      <h3><a href="/admin/articles">Example Blog Post</a></h3>
                      <p>Dramatically envisioneer user-centric corporate innovation. Efficiently unleash infrastructures professional </p>
                      <a href="">Read more ...</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "TESTIMONIAL & BLOG V1",
  "class": "index-section",
  "settings": [
    {
      "type": "radio",
      "id": "style_bg",
      "label": "Style Background",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image",
      "info": "1920 x 1483px recommended"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#f2f2f2"
    },
    {
      "type": "header",
      "content": "Testimonial"
    },
    {
      "type": "text",
      "id": "section_title1",
      "label": "Title",
      "default": "TESTIMONIALS"
    },
    {
      "type": "header",
      "content": "Blog"
    },
    {
      "type": "text",
      "id": "section_title2",
      "label": "Title",
      "default": "LATEST NEWS"
    },
    {
      "type": "blog",
      "id": "select_blog",
      "label": "Select Blog"
    },
    {
      "type": "range",
      "id": "blogs_limit",
      "label": "Limit blogs",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 5
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_img",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "block_content",
          "label": "Content",
          "default": "Saved our business! We have no regrets! Thanks for the great service. Kidden is worth much more than I paid Saved our business! We have no regrets! Thanks for the great service. Kidden is worth much more!"
        },
        {
          "type": "text",
          "id": "block_name",
          "label": "Content",
          "default": "DESTINEE"
        },
        {
          "type": "text",
          "id": "block_des",
          "label": "Info",
          "default": "Marketing Personal"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TESTIMONIAL & BLOG V1",
      "category": "HOME",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
            
          }
        },
        {
          "type": "testimonial",
          "settings": {
            
          }
        },
        {
          "type": "testimonial",
          "settings": {
            
          }
        },
        {
          "type": "testimonial",
          "settings": {
            
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}