<div data-section-id="{{ section.id }}" data-section-type="section-banner-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v5 {% if section.settings.ena_padding_top %} padding_top_banner5 {% endif %}">
    <div class="container container-v2 {% if section.settings.ena_container %} container container-v3 {% endif %}">
      <div class="row no-gutters align-items-center banner" > 
        <div class=" col-banner-6 {% if section.settings.select_pos =='left' %} order-lg-1 {% elsif section.settings.select_pos == 'right'%} order-lg-2  {% endif %}">
          <div class="banner-content">
            {% if section.settings.title_banner != blank %}
            <h3 class="title-banner" style="color: {{section.settings.color_title}}">{{section.settings.title_banner}}</h3>
            {% endif %}
            {% if section.settings.sub_title_banner != blank %}
            <p class="sub-title" style="color: {{section.settings.color_sub_title}}">{{section.settings.sub_title_banner}}</p>
            {% endif %}
            <div class="items"> 
              <ul class="list-items">
                {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                {% if block.type == 'banner' %}
                  <li>
                    <span><i class="fa fa-check" aria-hidden="true"></i></span>
                    {% if block.settings.items_title != blank %}
                    <span class="content-items" style="color: {{block.settings.color_title}}">{{block.settings.items_title}}</span>
                    {% endif %}
                  </li>
                {% endif %}
                {% endfor %}
                {% endif %} 
              </ul>
            </div>
            {% if section.settings.button_banner != blank %}
            <a href="{{section.settings.url_banner}}" class="button-shop button-shop-{{ section.id }}" title="">{{section.settings.button_banner}}</a>
            {% endif %}
          </div>
        </div> 
        <div class=" col-banner-4 {% if section.settings.select_pos =='left' %} order-lg-2  {% elsif section.settings.select_pos == 'right'%} order-lg-1 {% endif %}"> 
          <div class="img-banner box-img">
            <a href="{{section.settings.url_banner}}">
              {% if section.settings.img_banner_right != blank %}
              <img loading="lazy" width="" height="" data-src="{{section.settings.img_banner_right | image_url }}" class="lazyload img-fluid w-100" alt >
              {% else %}
              <img loading="lazy" width="" height="" data-src="//via.placeholder.com/800x800" class="lazyload img-fluid w-100" alt>
              {% endif %}
            </a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<style>
  .section-banner-v5 .col-banner-6 .banner-content .button-shop-{{ section.id }} {
    color: {{section.settings.color_btn}};
    background: {{section.settings.bg_btn}};
  }
  .section-banner-v5 .col-banner-6 .banner-content .button-shop-{{ section.id }}:hover {
    color: {{section.settings.color_btn_hover}};
    background: {{section.settings.bg_btn_hover}};
  }
</style>
{% schema %}
{
"name": "BANNER V5",
"settings": [
    {
      "type": "checkbox",
      "id": "ena_padding_top",
      "label": "Enable Add Padding Top",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "ena_container",
      "label": "Enable Add Container Box",
      "default": true
    },
    {
      "type": "select",
      "id": "select_pos",
      "label": "Select Position Content",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "header",
      "content": "Settings Banner Content"
    },
    {
      "type": "text",
      "id": "title_banner",
      "label": "Title Banner",
      "default": "Trusted Organic Food Store Conscious"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title banner",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "sub_title_banner",
      "label": "Sub Title Banner",
      "default": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
    },
    {
      "type": "color",
      "id": "color_sub_title",
      "label": "Color Sub Title banner",
      "default": "#80827e"
    },
    {
      "type": "text",
      "id": "button_banner",
      "label": "Button Banner 1",
      "default": "Shop now"
    },
    {
      "type": "header",
      "content": " Color Button"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color button banner",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn",
      "label": "Background button ",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_btn_hover",
      "label": "Background button Hover",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color button banner Hover",
      "default": "#fff"
    },
    {
      "type": "url",
      "id": "url_banner",
      "label": "URL Button ",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Banner Image"
    },
    {
      "type": "image_picker",
      "id": "img_banner_right",
      "label": "Image Banner",
      "info": "720 x 720px recommended"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Item Banner v5",
      "settings": [
		{
          "type": "text",
          "id": "items_title",
          "label": "Title Items",
          "default": "Mauris eget ex eget tellus luctus egestas"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#80827e"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BANNER V5",
      "category": "HOME",
	  "blocks": [
        {
          "type": "banner",
          "settings": {
            "items_title": "Mauris eget ex eget tellus luctus egestas"
          }
        },
		 {
          "type": "banner",
          "settings": {
            "items_title": "Mauris eget ex eget tellus luctus egestas"
          }
        },
		 {
          "type": "banner",
          "settings": {
            "items_title": "Mauris eget ex eget tellus luctus egestas"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
