<div class="product-item">
  <div class="product">
    <div class="img-product">
      <a href="#" >
        <img style="width: 100%" data-src="//via.placeholder.com/960x997" class="lazyload img-responsive" alt="1">
      </a>
      <div class="background-product">
        <a href="#" >
        </a>
      </div>
      <div class="product-wrap text-center">
        <div class="info-product">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          <h4 class="title-product mb-0">
            <a href="#">Example title product</a>
          </h4>
          <!--     PRICE -->

          <p class="price-product">
            <span class="price">$40.00</span>
            <s class="price-old">$80.00</s>
          </p>
        </div>

        <div class="product-icon-action d-flex justify-content-center">
          <div class="add-wishlist">
            <button class="d-inline-block text-center" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_wishlist_name}}">
              {% if settings.pia_wishlist_svg != blank %}
              <i class="fsz-unset">{{settings.pia_wishlist_svg}}</i>
              {% else %}
              <i class="{{settings.pia_wishlist}}"></i>
              {% endif %}
            </button>
          </div>
          <div class="add-to-cart">
            <a href="javascript:void(0)" class=" icon-addcart inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_addcart_name}}">
              {% if settings.pia_addcart_svg != blank  %}
              <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
              {% else %}
              <i class="{{settings.pia_addcart}}" style="font-size: 22px;"></i>
              {% endif %}
            </a>
          </div>
          <div class="quick-view">
            <a href="javascript:void(0)" class=" icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
              {% if settings.pia_quickview_svg %}
              <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
              {% else %}
              <i class="{{settings.pia_quickview}}"></i>
              {% endif %}
            </a>
          </div>
        </div>
        <!--     END ICON -->
      </div>

    </div>
  </div>
</div> 