<div data-section-id="{{ section.id }}" data-section-type="section-testimonial-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-testimonial-v1" style="background-image: url({% if section.settings.testimonial_bg != blank %}{{section.settings.testimonial_bg|img_url:'master'}}{% else %}//via.placeholder.com/1920x550{% endif %});">
    <div class="container container-v1">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="heading text-center">
            {% if section.settings.title_heading != blank %}
            <div class="title-heading">
              <h3>
                {{ section.settings.title_heading }}
              </h3>
            </div>
            {% endif %}
            {% if section.settings.subtitle_heading != blank %}
            <div class="subtitle-heading">
              <h4 style="color: {{ section.settings.color_subtitle_heading }}">
                {{ section.settings.subtitle_heading }}
              </h4>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row js-testimonial-v1">
            {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
            {% if block.type == "testimonial" %}
            <div class="col-12">
              <div class="testimonial-inner">
                <div class="testimonial-info">
                  <p style="color : {{block.settings.color_content}}" class="text mb-0">
                    {{block.settings.block_content}}
                  </p> 
                  <span class="engoc-star star-5"></span>
                  <div class="testimonial-author-wrap d-flex align-items-center justify-content-between">
                    <div class="testimonial-author d-sm-flex d-lg-flex align-items-center">
                      <div class="avatar">
                        {% if block.settings.block_img != blank %}
                        <img width="88" height="88" src="{{block.settings.block_img|img_url:'master'}}" class="img-responsive" alt="testimonial">
                        {% else %}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                        {% endif %}
                      </div>
                      <div class="author-info">
                        <h3 class="mb-1" style="color : {{block.settings.color_name}}">
                          {{block.settings.block_name}}
                        </h3>
                        <p class="text-position" style="color : {{block.settings.color_des}}">
                          {{block.settings.block_des}}
                        </p>
                      </div>
                    </div>
                    <i style="color: {{block.settings.color_quote}}" class="fa fa-quote-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .section-testimonial-v1 .heading .title-heading h3 {
    -webkit-text-stroke-color: {{ section.settings.color_title_heading }};
    stroke: {{ section.settings.color_title_heading }};
  }
</style>

{% schema %}
{
  "name": "TESTIMONIAL V1",
  "class": "index-section",
  "settings": [
    {
    "type": "image_picker",
    "id": "testimonial_bg",
    "info": "1920 x 550px recommended",
    "label": "Background image"
    },
    {
      "type": "header",
      "content": "Testimonial"
    },
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title Section",
      "default": "Feedback"
    },
    {
      "type": "color",
      "id": "color_title_heading",
      "label": "Color Title Section",
      "default": "#3a8d9e"
    },
    {
      "type": "text",
      "id": "subtitle_heading",
      "label": "Sub title Section",
      "default": "Our Testimonial"
    },
    {
      "type": "color",
      "id": "color_subtitle_heading",
      "label": "Color Sub title Section",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "block_img",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "block_content",
          "label": "Content",
          "default": "Saved our business! We have no regrets! Thanks for the great service. Flani is worth much more than I paid Saved our business! We have no regrets! Thanks for the great service. Flani is worth much more!"
        },
        {
          "type": "color",
          "id": "color_content",
          "label": "Color"
        },
        {
          "type": "text",
          "id": "block_name",
          "label": "Content",
          "default": "DESTINEE"
        },
        {
        "type": "color",
        "id": "color_name",
        "label": "Color Name"
        },
        {
          "type": "text",
          "id": "block_des",
          "label": "Info",
          "default": "Marketing Personal"
        },
        {
        "type": "color",
        "id": "color_des",
        "label": "Color Des"
        },
        {
          "type": "color",
          "id": "color_quote",
          "label": "Color quote",
          "default": "#fff"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "TESTIMONIAL V1",
      "category": "HOME",
      "blocks": [
        {
          "type": "testimonial",
          "settings": {
          }
        },
        {
          "type": "testimonial",
          "settings": {
          }
        },
        {
          "type": "testimonial",
          "settings": {
          }
        },
        {
          "type": "testimonial",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}