<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v3" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v3">      
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
    {% if block.type == "slideshow" %}
    <div class="itemv-slide-h4" style="background-image: url({% if block.settings.backgroud_slide != blank %}{{block.settings.backgroud_slide |img_url:'master'}}{% else %}//via.placeholder.com/1881x1080{% endif %})">
      <div class="container container-v2">
        <div class="box-info {% if block.settings.select_pos =='left' %}box-info-left {% elsif block.settings.select_pos == 'center' %}box-info-center {% elsif block.settings.select_pos == 'right' %}box-info-right{% endif %}">
          <div class="content {% if block.settings.select_textalign_content == 'left' %}text-left {% elsif block.settings.select_textalign_content == 'center' %}text-center {% else %}text-right{% endif %}">
            {% if block.settings.block_title != blank %}
            <h2 class="title-slideshow title-slideshow-{{block.id}}" style="color:{{block.settings.color_title}};">{{block.settings.block_title}}</h2>
            {% endif %}
            {% if block.settings.block_subtitle != blank %}
            <p class="sub-title-content sub-title-content-{{block.id}}" style="color:{{block.settings.color_subtitle}};">
              {{block.settings.block_subtitle}}
            </p>
            {% endif %}
            {% if block.settings.block_buton != blank %}
            <div class="box-button">
              <a href="{{block.settings.block_url}}" class="button-main1 button-shop-{{section.id}}-{{block.id}}">
                {{block.settings.block_buton}}
  
              </a>
            </div>
          </div>

          {% endif%}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>

<style>
  {% for block in section.blocks %}
  {% if block.type == 'slideshow' %}
  .section-slideshow-v3 .itemv-slide-h4 .content .box-button .button-shop-{{section.id}}-{{block.id}} {
    color : {{block.settings.color_button}};
    background: {{block.settings.bg_color_button}};
  }
  .section-slideshow-v3 .itemv-slide-h4 .content .box-button .button-shop-{{section.id}}-{{block.id}}:hover{
    color : {{block.settings.color_button_hover}};
    background: {{block.settings.bg_color_button_hover}};
  }

  @media(min-width:1900px){
    .section-slideshow-v3 .itemv-slide-h4 .content .title-slideshow-{{block.id}} {   
      font-size:{{block.settings.font_size_title}}px;
    }
    .section-slideshow-v3 .itemv-slide-h4 .content .sub-title-content-{{block.id}} {    
      font-size:{{block.settings.font_size_sub_title}}px;
    }
    .section-slideshow-v3 .itemv-slide-h4 .content .box-button .button-shop-{{section.id}}-{{block.id}} {   
      font-size:{{block.settings.font_size_button}}px;
    }
  }

  {% endif %}
  {% endfor %}
</style>


{% schema %}
{
  "name": "SLIDESHOW V3",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "backgroud_slide",
          "label": "Image slideshow",
          "info": "1881 x 1080px recommended"
        },
        {
          "type": "select",
          "id": "select_pos",
          "label": "Select Position Content",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "select_textalign_content",
          "label": "Text Align Content",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title sideshow",
          "default": "Delicious Coffee"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title sideshow",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "font_size_title",
          "min": 15,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 70
        },
        {
          "type": "text",
          "id": "block_subtitle",
          "label": "Sub Title sideshow",
          "default": "BLACK COFFEE"
        },
        {
          "type": "color",
          "id": "color_subtitle",
          "label": "Color Sub Title sideshow",
          "default": "#fff"
        },
        {
          "type": "range",
          "id": "font_size_sub_title",
          "min": 15,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 18
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button slideshow",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL button slideshow",
          "default": "/collections/all"
        },
        {
          "type": "range",
          "id": "font_size_button",
          "min": 10,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Font Size",
          "default": 14
        },
        {
          "type": "header",
          "content": "Background & color button"
        },
        {
          "type": "color",
          "id": "color_button",
          "label": "Color button",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "bg_color_button",
          "label": "Background button",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "color_button_hover",
          "label": "Color button hover",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "bg_color_button_hover",
          "label": "Background button hover",
          "default": "#BE9C79"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW V3",
      "category": "HOME",
      "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "block_title": "Delicious Coffee",
            "block_subtitle": "BLACK COFFEE"
          }
        },
        {
          "type": "slideshow",
          "settings": {
            "block_title": "Coffee For You",
            "block_subtitle": "COFFEE FACTORY"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

