<div data-section-id="{{ section.id }}" data-section-type="section-countdown-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-countdown-v1" style="{% if section.settings.style_bg == 'color' %}background: {{section.settings.bg_color}}{% else %}background-image: url({% if section.settings.bg_img != blank %}{{section.settings.bg_img | img_url: 'master'}}{% else %}//via.placeholder.com/1920x1080{% endif %}){% endif %};">
    <div class="container container-v2">
      <div class="product-item">
        <div class="product-inner" data-items="2">

          <div class="product-info">
            <div class="product-info-inner">
              <h3 class="title">

                <span class="text">{{section.settings.section_title}}</span>
              </h3> 

              {% assign product = all_products[section.settings.section_product] %}
              {% if section.settings.section_product != blank %}


              <h3 class="product-name product_title"> 
                <a href="{{product.url}}">{{product.title}}</a>
              </h3>
              
              {% if on_sale %}
              <span class="onsale">
                <span class="text">SAVE {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%</span>
              </span>
              {% endif %}
                
              <span class="price">
                {% capture price %}{{ product.price | money }}{% endcapture %}
                {% if on_sale %}
                <del>{{ product.compare_at_price | money }}</del> 
                <ins>{% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}</ins>
                {% else %}
                {% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
                {% endif %}
              </span>

              {% else %}

              <h3 class="product-name product_title"> 
                <a href="/admin/products">Example Product</a>
              </h3>

              <span class="onsale">
                <span class="text">SAVE 12%</span>
              </span>
              
              <span class="price">
                <del>$96.00</del> 
                <ins>$69.00</ins>
              </span>

              {% endif %}
              <div class="hurry-title">
                {{section.settings.countdown_title}}
              </div>

              <div class="time">
                {% if section.settings.countdown_datetime != blank %}
                <ul class="mb-0 list-inline list-unstyled " data-countdown="section-countdown-v1" data-date="{{section.settings.countdown_datetime}}">
                </ul>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="product-thumb">

            {% assign product = all_products[section.settings.section_product] %}

            {% assign on_sale = false %}
            {% if product.compare_at_price > product.price %}
            {% assign on_sale = true %}
            {% endif %}

            {% if section.settings.section_product != blank %}

            <div class="product-gallery">
              <div class="product-main js_countdown_prod_main">
                {% for image in product.images %}
                <figure class="product-gallery-image">
                  <img src="{{ image.src | img_url: 'master' }}" class="img-responsive" alt="{{ image.alt | escape }}">
                </figure>
                {% endfor %}
              </div>
              
                  <div class="product-sub js_countdown_prod_sub">
                    {% for image in product.images %}
                    <figure>
                      <img src="{{ image.src | img_url: 'medium' }}" class="img-responsive" alt="{{ image.alt | escape }}" >
                    </figure>
                    {% endfor %}
                  </div>
            </div>

            {% else %}

            <div class="product-gallery">
              <div class="product-main js_countdown_prod_main">
                {% for i in (1..5) %}
                <figure class="product-gallery-image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </figure>
                {% endfor %}
              </div>
              
                  <div class="product-sub js_countdown_prod_sub">
                    {% for i in (1..5) %}
                    <figure>
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                    </figure>
                    {% endfor %}
                  </div>
            </div>

            {% endif %}

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "COUNTDOWN V1",
  "class": "index-section",
  "settings": [
    {
      "type": "radio",
      "id": "style_bg",
      "label": "Style Background",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background image",
      "info": "1920 x 1483px recommended"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#f2f2f2"
    },
    {
      "type": "header",
      "content": "Product image"
    },
    {
      "type": "product",
      "id": "section_product",
      "label": "Select product"
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "text",
      "id": "section_icon",
      "label": "Icon",
      "info": "[Get icon from here](https:\/\/fontawesome.com\/v4.7.0\/icons\/)"
    },
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "DEALS OF THE DAYS"
    },
    {
      "type": "text",
      "id": "countdown_title",
      "label": "Countdown title",
      "default": "DEAL END IN :"
    },
  {
      "type": "header",
      "content": "Setting Time"
    },
    {
      "type": "text",
      "id": "countdown_datetime",
      "label": "Countdown datetime",
      "default": "2023-12-12-12-12-12",
      "info": "Format: Year-Month-Day-Hour-Minute-Second"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "COUNTDOWN V1",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
