<div class="product-countdown">
  {% assign product_label_new = false %}
  {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
  {% assign time = _time|plus:0 %}
  {% assign now = 'now' | date: '%s'|plus:0 %}

  {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
  {% assign value = _value|plus:0 %}

  {% if now < value %}
  {% assign product_label_new = true %}
  {% endif %}


  {% assign label_popular = false %}
  {% if product.tags contains "popular" %}
  {% assign label_popular = true %}
  {% endif %} 

  {% assign label_hot = false %}
  {% if product.tags contains "hot" %}
  {% assign label_hot = true %}
  {% endif %}

  {% assign on_sale = false %}
  {% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
  {% endif %}

  {% assign sold_out = true %}
  {% if product.available %}
  {% assign sold_out = false %}
  {% endif %}
  <div class="item-product-content engoj_grid_parent relative">
    <div class="img-product relative" >
      <div style="{% if sold_out %} opacity: 0.3 {% endif %}"> 
        <a  href="{{ product.url | within: collection }}" class="engoj_find_img">
          <img style="width: 100%" data-src="{{ product.featured_image.src | img_url: 'master' }}" src="{{ 'loading.gif' | asset_url }}" class="lazyload img-responsive" alt="{{ product.featured_image.alt | escape }}">
        </a>
      </div>

      <!--     label product -->

      {% assign product_label_new = false %}
      {% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
      {% assign time = _time|plus:0 %}
      {% assign now = 'now' | date: '%s'|plus:0 %}

      {% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
      {% assign value = _value|plus:0 %}

      {% if now < value %}
      {% assign product_label_new = true %}
      {% endif %}


      {% assign label_popular = false %}
      {% if product.tags contains "popular" %}
      {% assign label_popular = true %}
      {% endif %} 

      {% assign label_hot = false %}
      {% if product.tags contains "hot" %}
      {% assign label_hot = true %}
      {% endif %}

      {% assign on_sale = false %}
      {% if product.compare_at_price > product.price %}
      {% assign on_sale = true %}
      {% endif %}

      {% assign sold_out = true %}
      {% if product.available %}
      {% assign sold_out = false %}
      {% endif %}	
      {% if on_sale %}
      {% if settings.show_sale_label %}
      {% assign sale= product.price | minus : product.compare_at_price | times : 100 | divided_by: product.compare_at_price  %}
      <figure style= "background : {{settings.sale_label_color}}; color: {{settings.sale_label_text_color}}" class="absolute uppercase label-sale text-center">
        <span class="sale-percent">{{sale}}%</span>
      </figure>
      {% endif %}
      {% endif %}
      {% if product_label_new %}
      {% if settings.show_new_label %}
      <figure style= "background : {{settings.new_label_color}}; color: {{settings.new_label_text_color}}"  class="absolute uppercase label-new text-center">
        {{settings.new_label_name}}
      </figure>
      {% endif %}
      {% endif %}

      <!--     END LABEL -->

    </div>


    <div class="info-product">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      <h4 class="title-product">
        <a href="{{ product.url | within: collection }}">{{ product.title}}</a>
      </h4>
      <!--     PRICE -->
      {% assign on_sale = false %}
      {% if product.compare_at_price > product.price %}
      {% assign on_sale = true %}
      {% endif %}
      {% if settings.enable_catalog_mode == false%}
      <p class="price-product">        
        {% if on_sale %}<s class="price-old">{{ product.compare_at_price | money }}</s>{% endif %}
        <span class="price">{{ product.price | money }}</span>
      </p>
      {% endif %}
      <!-- END PRODUCT     -->
      
      <div class="product-description">
        {{ product.description | strip_html | truncatewords: 10 }}
      </div>

       <!--     ICON PRODUCT -->

      {% assign sold_out = true %}
      {% if product.available %}
      {% assign sold_out = false %}
      {% endif %}
      {% if settings.enable_catalog_mode == false%}
      <div class="product-icon-action">
        

        <div class="add-to-cart">
          {% if sold_out %}
          <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="">
            {% if settings.pia_sold_svg != blank %}
            <i class="fsz-unset">{{settings.pia_sold_svg}}</i>
            {% else %}
            <i class="{{settings.pia_sold}}"></i>
            {% endif %}
          </a>
          {% else %}
          {% if product.variants.size > 1 %}
          <a href="{{ product.url | within: collection }}" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="">
            {% if settings.pia_addcart_svg != blank  %}
            <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
            {% else %}
            <i class="{{settings.pia_selectoption}}"></i>
            {% endif %}
            <span>{{settings.pia_addcart_name}}</span>
          </a>
          {% else %}
          <form method="post" action="/cart/add" enctype="multipart/form-data" class="inline-block icon-addcart margin_right_10 box-shadow"  data-toggle="tooltip" data-placement="top" data-original-title="">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
            <button type="submit" name="add" class="enj-add-to-cart-btn ">
              {% if settings.pia_addcart_svg != blank  %}
              <i class="fsz-unset">{{settings.pia_addcart_svg}}</i>
              {% else %}
              <i class="{{settings.pia_addcart}}" style="font-size: 22px;"></i>
              {% endif %}
              <span>{{settings.pia_addcart_name}}</span>
            </button>
          </form>
          {% endif %}
          {% endif %}
        </div>
		
        <div class="add-wishlist">
          {% include 'add-wishlist' %} 
        </div>
        
        <div class="quick-view">
          <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
            {% if settings.pia_quickview_svg %}
            <i class="fsz-unset">{{settings.pia_quickview_svg}}</i>
            {% else %}
            <i class="{{settings.pia_quickview}}"></i>
            {% endif %}
          </a>
        </div>
      </div>
      {% endif %}
      <!--     END ICON -->      
      
    </div>
  </div>
  
  {% if product.metafields.engo_countdown_prod.countdown_datetime != blank %}
  <div class="content-countdown">
    <h2>HungRy Up !</h2>
    <div class="item-countdown">
      <h2>Offer end in :</h2>
      <div class="countdown-timer">          
        <ul data-countdown="countdown-v2" data-date="{{product.metafields.engo_countdown_prod.countdown_datetime}}">

        </ul>
      </div> 
    </div>
  </div> 
  {% endif %}
</div>  