{% assign product_label_new = false %}
{% capture _time %}{{settings.product_new_time | times:86400}}{% endcapture %} 
{% assign time = _time|plus:0 %}
{% assign now = 'now' | date: '%s'|plus:0 %}

{% capture _value %}{{product.published_at | date: "%s" | plus : time }}{% endcapture %} 
{% assign value = _value|plus:0 %}

{% if now < value %}
{% assign product_label_new = true %}
{% endif %}

{% assign label_popular = false %}
{% if product.tags contains "hot" %}
{% assign label_popular = true %}
{% endif %} 

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}

<div class="product-item">
  <div class="product-inner">
    <div class="product-thumb"> 
      <a class="thumb-link" href="{{ product.url | within: collection }}">
        <img class="img-fluid" src="{{ product.featured_image.src | img_url: 'master' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>

      {% if product.images.size > 1 %}
      <div class="second-image">
        <a href="{{ product.url | within: collection }}" class="thumb-link">
          {% for image in product.images %}
          {% if forloop.index == 2 %}
          <img class="img-fluid" src="{{ image.src | img_url: 'master' }}" alt="{{ image.alt | escape }}">
          {% endif %}
          {% endfor %}
        </a>
      </div>
      {% endif %}
    </div>
    <div class="product-info">
      <h3 class="product-name product_title mb-0">
        <a href="{{ product.url | within: collection }}">
          {{ product.title }}
        </a>
      </h3>
      
      <div class="rating-wapper">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div> 
      
      <span class="price">
        {% capture price %}{{ product.price | money }}{% endcapture %}
        {% if on_sale %}
        <del>{{ product.compare_at_price | money }}</del> 
        <b>{% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}</b>
        {% else %}
        {% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
        {% endif %}
      </span>
      <!--     THUMBNAIL PRODUCT -->

        {% if product.variants.size > 1 %}
      <div class="d-flex align-items-center image-thumbnail">
        <div class="variant-image-group engoj_select_color ">
          {% for option in product.options %}
          {% if option == 'Color' %}  
          {% assign index = forloop.index0 %}
          {% assign colorlist = '' %}
          {% assign color = '' %}
          {% for variant in product.variants limit:4 %}
          {% capture color %}{{ variant.options[index] }}{% endcapture %}
          {% unless colorlist contains color %}
          {% assign text = color | handleize %}
          <span class=" border_thumbnail">
            <a  class="{% if forloop.first %}active {% endif %}circle-thumb js_change_border" href="javascript:void(0)" {% if variant.image != null %}data-engojvariant-img="{{ variant.image.src | product_img_url: 'grande' }}"{% endif %} style="background-image: url({{ variant.image.src | product_img_url: 'grande' }});background-size:cover;"></a>
          </span>

          {% capture tempList %}
          {{ colorlist | append: color | append: ' ' }}
          {% endcapture %}

          {% assign colorlist = tempList %}
          {% endunless %}
          {% endfor %}

          {% endif %}
          {% endfor %}
        </div>
        <div class="more_variant">

          {% for option in product.options_with_values %}
          {% if option.name  == 'Color' %} 
          {% for value in option.values %}
          {% if forloop.index > 4 %}
          <a href="{{ product.url | within: collection }}">+ {{forloop.index | minus : 4}}</a>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {%endif%}

      <!-- END THUMBNAIL     -->
    </div>
  </div>
</div>